In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [147]:

train = pd.read_csv("train.csv")
macro = pd.read_excel("macro_economic.xlsx")
test = pd.read_csv("test.csv")

In [148]:
macro = macro.join(macro["Year-Month"].str.split("-",expand = True).rename(columns={0:"Year",1:"Month"}))

In [149]:

macro = macro.drop("Year-Month", axis = 1)

In [150]:
macro["Month"] =macro["Month"].str.replace("Jan","1")
macro["Month"] =macro["Month"].str.replace("Feb","2")
macro["Month"]=macro["Month"].str.replace("Mar","3")
macro["Month"]=macro["Month"].str.replace("Apr","4")
macro["Month"]=macro["Month"].str.replace("May","5")
macro["Month"]=macro["Month"].str.replace("Jun","6")
macro["Month"]=macro["Month"].str.replace("Jul","7")
macro["Month"]=macro["Month"].str.replace("Aug","8")
macro["Month"]=macro["Month"].str.replace("Sep","9")
macro["Month"]=macro["Month"].str.replace("Oct","10")
macro["Month"]=macro["Month"].str.replace("Nov","11")
macro["Month"]=macro["Month"].str.replace("Dec","12")

In [151]:



macro["Month"] =pd.to_numeric(macro["Month"])

macro["Year"] =pd.to_numeric(macro["Year"])

In [152]:
train["data"]= "train"
test["data"] = "test"

In [153]:
train.shape

(216, 5)

In [154]:
test.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)  data
0  2015      1   WomenClothing                        NaN  test
1  2015      1     MenClothing                        NaN  test
2  2015      1   OtherClothing                        NaN  test
3  2015      2   WomenClothing                        NaN  test
4  2015      2     MenClothing                        NaN  test

In [155]:
tt = pd.concat([train,test])
tt["data"].value_counts()

train    216
test      36
Name: data, dtype: int64

In [156]:
macro.shape

(96, 19)

In [157]:
df = pd.merge(macro,tt, on=["Year","Month"], how="inner")

In [158]:
df.shape

(252, 22)

In [159]:
df.drop("PartyInPower",axis = 1,inplace = True)

In [160]:
df["data"].value_counts()

train    216
test      36
Name: data, dtype: int64

In [161]:
df.drop("AdvertisingExpenses (in Thousand Dollars)",axis = 1,inplace = True)

In [162]:
df =pd.get_dummies(data = df, columns = ["Month","ProductCategory"])

In [163]:
df.shape

(252, 33)

In [164]:
df["data"].value_counts()

train    216
test      36
Name: data, dtype: int64

In [165]:
train = df[df["data"]== "train"]

In [166]:
train.shape

(216, 33)

In [167]:
test = df[df["data"]== "test"]

In [168]:
test.shape

(36, 33)

In [169]:
test.drop(["data","Sales(In ThousandDollars)"], axis = 1, inplace = True)

In [170]:
train.drop(["data"], axis = 1, inplace = True)

In [177]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 215
Data columns (total 32 columns):
Monthly Nominal GDP Index (inMillion$)                               204 non-null float64
Monthly Real GDP Index (inMillion$)                                  204 non-null float64
CPI                                                                  204 non-null float64
unemployment rate                                                    204 non-null float64
CommercialBankInterestRateonCreditCardPlans                          204 non-null float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    204 non-null float64
Earnings or wages  in dollars per hour                               204 non-null float64
Cotton Monthly Price - US cents per Pound(lbs)                       204 non-null float64
Change(in%)                                                          204 non-null float64
Average upland planted(million acres)                                204 non-null float64
Average upland harvested(million acres)                              204 non-null float64
yieldperharvested acre                                               204 non-null int64
Production (in  480-lb netweright in million bales)                  204 non-null float64
Mill use  (in  480-lb netweright in million bales)                   204 non-null float64
Exports                                                              204 non-null float64
Year                                                                 204 non-null int64
Sales(In ThousandDollars)                                            204 non-null float64
Month_1                                                              204 non-null uint8
Month_2                                                              204 non-null uint8
Month_3                                                              204 non-null uint8
Month_4                                                              204 non-null uint8
Month_5                                                              204 non-null uint8
Month_6                                                              204 non-null uint8
Month_7                                                              204 non-null uint8
Month_8                                                              204 non-null uint8
Month_9                                                              204 non-null uint8
Month_10                                                             204 non-null uint8
Month_11                                                             204 non-null uint8
Month_12                                                             204 non-null uint8
ProductCategory_MenClothing                                          204 non-null uint8
ProductCategory_OtherClothing                                        204 non-null uint8
ProductCategory_WomenClothing                                        204 non-null uint8
dtypes: float64(15), int64(2), uint8(15)
memory usage: 31.7 KB

In [178]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 216 to 251
Data columns (total 31 columns):
Monthly Nominal GDP Index (inMillion$)                               36 non-null float64
Monthly Real GDP Index (inMillion$)                                  36 non-null float64
CPI                                                                  36 non-null float64
unemployment rate                                                    36 non-null float64
CommercialBankInterestRateonCreditCardPlans                          36 non-null float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    36 non-null float64
Earnings or wages  in dollars per hour                               36 non-null float64
Cotton Monthly Price - US cents per Pound(lbs)                       36 non-null float64
Change(in%)                                                          36 non-null float64
Average upland planted(million acres)                                36 non-null float64
Average upland harvested(million acres)                              36 non-null float64
yieldperharvested acre                                               36 non-null int64
Production (in  480-lb netweright in million bales)                  36 non-null float64
Mill use  (in  480-lb netweright in million bales)                   36 non-null float64
Exports                                                              36 non-null float64
Year                                                                 36 non-null int64
Month_1                                                              36 non-null uint8
Month_2                                                              36 non-null uint8
Month_3                                                              36 non-null uint8
Month_4                                                              36 non-null uint8
Month_5                                                              36 non-null uint8
Month_6                                                              36 non-null uint8
Month_7                                                              36 non-null uint8
Month_8                                                              36 non-null uint8
Month_9                                                              36 non-null uint8
Month_10                                                             36 non-null uint8
Month_11                                                             36 non-null uint8
Month_12                                                             36 non-null uint8
ProductCategory_MenClothing                                          36 non-null uint8
ProductCategory_OtherClothing                                        36 non-null uint8
ProductCategory_WomenClothing                                        36 non-null uint8
dtypes: float64(14), int64(2), uint8(15)
memory usage: 5.3 KB

In [179]:
train.dropna(axis = 0, inplace = True)

C:\Users\Amala\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [183]:
x = train.drop("Sales(In ThousandDollars)",axis = 1)

In [184]:
y = train["Sales(In ThousandDollars)"]

In [185]:
from sklearn.model_selection import train_test_split

In [186]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y, test_size = 0.3, random_state=3)

In [187]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Xtrain = sc.fit_transform(xtrain)
Xtest = sc.fit_transform(xtest)

C:\Users\Amala\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Amala\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Amala\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Amala\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

# LinearRegression

In [190]:
from sklearn.linear_model import LinearRegression

In [191]:
lr = LinearRegression()

# before scaling

In [192]:
lr.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [193]:
predict = lr.predict(xtest)
predict

array([1958.70439079, 1132.40964599, 1089.45792606, 1059.87665442,
        772.12284184,   58.9440286 , 3284.57147422,  642.3550444 ,
        213.14725541,  495.0826509 , 1087.6846196 , 1363.69565298,
        976.56529788, 2950.31247599,  509.17884235, 1522.56576849,
       3380.29579856,  418.68038869, 3517.45355805, 3596.84643783,
       4310.12082247,  284.15693076,  939.8345399 , 2864.18546012,
        446.85761785, 1390.67700701,  905.34954703, 3175.33438758,
       3135.36646996, 1738.51204852,  830.08985977, 3177.40606024,
       1072.19370118,  192.27918228,  392.69662926, 3798.56519121,
         85.82362942, 2858.43472751,  198.0299149 ,  838.30144071,
       3220.97011003, 3140.45235026, 1786.75851887,  521.96225172,
       1208.26146414, 3438.27838706, 2979.00784756,  566.27904816,
       4016.7754418 , 4188.72131372,  618.41592899,  620.6746109 ,
        623.68157518,  447.4734972 , 3184.26804601, 1350.61989657,
       1123.81735866, 1005.31295679, 1302.37342622,  748.99092463,
       3113.62904243, 1134.08410722])

In [194]:
lr.score(xtest,ytest)

0.8816990155496905

# after scaling

In [195]:
lr.fit(Xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [234]:
predict_S = lr.predict(Xtest)
predict_S

array([1345.16587241, 1228.32061492, 1165.06583229, 1107.01256393,
        884.43041317,  314.72027849, 3475.2785572 ,  795.45569981,
        382.59821578,  696.5794998 , 1112.03088216, 1430.7559109 ,
        994.87495427, 3076.36175005,  660.95189966,  963.3066511 ,
       3487.27820742,  515.87655386, 3632.77004522, 3541.25678491,
       4502.76508582,  473.47057882,  946.18158936, 2813.8587415 ,
        652.49004609, 1332.04574296,  902.82771901, 3263.84307088,
       3123.85966892, 1719.23856269,  894.37825807, 3016.88074504,
       1084.80796612,  514.66501694,  587.85808845, 3831.21178615,
        350.88301743, 3117.55618817,  210.96757028,  918.47663019,
       3328.96030717, 3110.17703539, 1709.56918955,  732.74223874,
       1266.28963448, 3487.32158439, 2903.00358116,  662.55278085,
       3930.60113947, 3566.19782233,  872.38738598,  697.04431027,
        644.23369783,  465.73932549, 3257.12265657, 1327.70996824,
       1166.94804488, 1104.29323367, 1337.37934138,  681.97163125,
       3068.63049671, 1156.64968691])

In [197]:
lr.score(Xtest,ytest)

0.8693351746120286

# submission

In [205]:
X = sc.fit_transform(x)

C:\Users\Amala\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Amala\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [208]:
lr.fit(x,y)
test_pred = lr.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-A.csv",index = False)

In [209]:
lr.fit(X,y)
test_pred = lr.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-B.csv",index = False)

# GradientBoostingRegressor

In [210]:
from sklearn.ensemble import GradientBoostingRegressor

In [211]:
GB = GradientBoostingRegressor()

In [212]:

df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-C.csv",index = False)

In [213]:
GB.fit(X,y)
test_pred = GB.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-D.csv",index = False)

In [215]:
GB.fit(xtrain,ytrain)
test_pred = GB.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-E.csv",index = False)

In [226]:
GB.fit(X,y)
test_pred = GB.predict(Test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-L.csv",index = False)

# Extra trees Regressor

In [216]:
from sklearn.ensemble import ExtraTreesRegressor
etr = ExtraTreesRegressor()

In [219]:
etr.fit(x,y)
test_pred = etr.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-G.csv",index = False)

In [220]:
etr.fit(X,y)
test_pred = etr.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-H.csv",index = False)

In [221]:
etr.fit(xtrain,ytrain)
test_pred = etr.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-I.csv",index = False)

In [222]:
etr.fit(Xtrain,ytrain)
test_pred = etr.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-J.csv",index = False)

In [223]:
Test = sc.fit_transform(test)

C:\Users\Amala\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Amala\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [224]:
etr.fit(X,y)
test_pred = etr.predict(Test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-K.csv",index = False)

# RandomForest

In [227]:
from sklearn.ensemble import RandomForestRegressor

In [228]:
rf = RandomForestRegressor()

In [229]:
rf.fit(x,y)
test_pred = rf.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-M.csv",index = False)

C:\Users\Amala\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [230]:
rf.fit(X,y)
test_pred = rf.predict(Test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-N.csv",index = False)

In [231]:
rf.fit(xtrain,ytrain)
test_pred = rf.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-O.csv",index = False)

In [232]:
rf.fit(Xtrain,ytrain)
test_pred = rf.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-P.csv",index = False)

In [233]:
rf.fit(Xtrain,ytrain)
test_pred = rf.predict(Test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-Q.csv",index = False)

# adaboost

In [235]:
from sklearn.ensemble import AdaBoostRegressor
ada = AdaBoostRegressor()

In [236]:
ada.fit(x,y)
test_pred = ada.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-R.csv",index = False)

In [237]:
ada.fit(X,y)
test_pred = ada.predict(Test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-S.csv",index = False)

In [238]:
ada.fit(xtrain,ytrain)
test_pred = ada.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-T.csv",index = False)

In [239]:
ada.fit(Xtrain,ytrain)
test_pred = ada.predict(test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-U.csv",index = False)

In [240]:
ada.fit(Xtrain,ytrain)
test_pred = ada.predict(Test)
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":test_pred})
df1.to_csv("submission-V.csv",index = False)